

<!-- <app-coursecard *ngFor="let course of courses" (emitCourseToComponent)="componentCalled(course)" [course] = "course">
 <div #contentprojection> 
  this is contentprojection
</div>
<header>Course is good</header>
<footer>Course is not good</footer>

</app-coursecard> -->

<app-coursecard highlighted 
  [course]="courses[2]" 
  [calculateTemplate]="template" 
  [textValue]="textinput"
  (eventEmit)="emitToComponent($event)">
</app-coursecard>




<ng-template #template let-textinputtemplate="text">
  <div #divinputs>
    <input type="text" [value]="a" required (keyup)="calculate(aval.value, bval.value)" #aval><br>
    <input type="text" [value]="b" (keyup)="calculate(aval.value, bval.value)" #bval><br>
    <span>Result - {{c}}</span><br>
    <br><br>
    <div>
      <input type="text" (keyup)="changeText(textinputval.value)" [value]="textinputtemplate" #textinputval ><br>
      <p>{{output}}</p>
    </div>
    <br><br>
  
    <button (click)="checkElement()">View What We Passed</button>
  </div>
</ng-template>